

.yes {
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#blanket1 {
    border: 2px solid black;
}

#blanket2 {
    border: 2px dotted pink;
}

.container {
    flex-direction: row;
    left: 15%;
    top: 90%;
    border: 5px dotted pink;
}

#firstP {
    font-family: cursive;
    color: pink;
    justify-content: center;
    align-content: center;
}

