main { display: flex; }
main > article { order: 2; min-width: 12em; flex:1; }
main > nav     { order: 1; width: 200px; }
main > aside   { order: 3; width: 200px; }

@media all and (max-width: 600px) {
    /* Too narrow to support three columns */
    main { flex-flow: column; }
    main > article, main > nav, main > aside {
      /* Return them to document order */
      order: 0; width: auto;
    }
  }

  nav > ul > li {
    display: flex;
    flex-flow: column;
  }
  /* dynamically collapse submenus when not targetted */
  nav > ul > li:not(:target):not(:hover) > ul {
    visibility: collapse;
  }

.yes {
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#blanket1 {
    border: 2px solid black;
}

#blanket2 {
    border: 2px dotted pink;
}

.container {
    flex-direction: row;
    left: 15%;
    top: 90%;
    border: 5px dotted pink;
}

#firstP {
    font-family: cursive;
    color: pink;
    justify-content: center;
    align-content: center;
}

