main { display: flex; }
main > article { order: 2; min-width: 10vh; flex:1; }
main > nav     { order: 1; width: 200px; }
main > aside   { order: 3; width: 350px; }



@media all and (max-width: 600px) {
    /* Too narrow to support three columns */
    main { flex-flow: column; }
    main > article, main > nav, main > aside {
      /* Return them to document order */
      order: 0; width: auto;
    }
  }

  main {
    margin: 0;
    padding: 0;
    display: flex;
    height: 150vh;
    background-color: #000;
  }

  header {
    top: 5%;
    right: 50%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10vh;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, rgb(252, 113, 182));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

article {
    border: 2px solid pink;
    justify-content: center;
}
nav {
    justify-content: left;
    border: 2px solid pink;
    right: 99%;
    color: aqua;
}
  nav > ul > li {
    display: flex;
    justify-content: left;
    flex-flow: column;
    color: aquamarine;
  }
  /* dynamically collapse submenus when not targetted */
  nav > ul > li:not(:target):not(:hover) > ul {
    visibility: collapse;
  }

.yes {
    background-color: aquamarine;
    border-radius: 20px;
   
}



#firstP {
    font-family: cursive;
    color: pink;
    justify-content: center;
    align-content: center;
    
}

.div1 {
    display: table;
    height: 100px;
    width: 100%;
    text-align: center;
    
}
.span1 {
    display: table-cell;
    vertical-align: middle;
}

.footerDiv {
    color:rgb(252, 113, 182);
    font-size: 10vh;
    display:flex;
    justify-content: center;
    align-content: center;
    overflow:hidden;
    white-space:nowrap;
  }
  
.footerDiv:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
  }
  
.footerDiv:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
.footerDiv:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
